*
**

!/LICENSE

!/.gitignore
!/.gitconfig

!/.profile
!/.zshenv
!/.sh-utls

!/.config/
!/.config/*/
!/.local/
!/.local/bin/
!/.ssh/

!/.config/dolphinrc
!/.config/user-dirs.dirs

!/.config/VSCodium/product.json
!/.config/VSCodium/User/keybindings.json
!/.config/VSCodium/User/settings.json
!/.config/dunst/**
!/.config/hypr/**
/.config/hypr/hyprlandd.conf
!/.config/kitty/**
!/.config/nvim/**
!/.config/wezterm/**
!/.config/waybar/**
!/.config/wofi/**
!/.config/zsh/**
/.config/zsh/.zsh_history
/.config/zsh/.zcompdump*

!/.local/bin/get-hypr-hover-window
!/.local/bin/local-ssh-key
!/.local/bin/wfreeze

!/.ssh/authorized_keys
!/.ssh/allowed_signers
!/.ssh/config
