*
**

!/LICENSE

!/.gitignore
!/.gitconfig

!/.profile
!/.zshenv
!/.sh-utls

!/.github/
!/.github/**
!/.config/
!/.config/*/
!/.local/
!/.local/bin/
!/.local/bin/shits/
!/.ssh/

!/.config/dolphinrc
!/.config/user-dirs.dirs

!/.config/VSCodium/product.json
!/.config/VSCodium/User/keybindings.json
!/.config/VSCodium/User/settings.json
!/.config/dunst/**
!/.config/fastfetch/**
!/.config/hypr/**
/.config/hypr/hyprlandd.conf
!/.config/kitty/**
!/.config/mpv/**
!/.config/nvim/**
.config/nvim/lazy-lock.json
!/.config/quickshell/**
!/.config/wezterm/**
!/.config/waybar/**
!/.config/wofi/**
!/.config/zsh/**
/.config/zsh/.zsh_history
/.config/zsh/.zcompdump*

!/.local/bin/get-hypr-hover-window
!/.local/bin/local-ssh-key
!/.local/bin/wfreeze
!/.local/bin/shits/unipicker.sh

!/.ssh/authorized_keys
!/.ssh/allowed_signers
!/.ssh/config

!/pictures/
!/pictures/wallpapers/
!/pictures/wallpapers/sync/
!/pictures/wallpapers/sync/**
